<main>
  <head>
    <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  </head>

  <nav>
    <div>
      <a routerLink="">LOGO</a>
      <a routerLink="">Filmes</a>
      <a *ngIf="admGeral" routerLink="/cadastro-filme">Cadastrar Filmes</a>
      <a *ngIf="admMaster" routerLink="/cadastro-usuario">Cadastrar usuário</a>
      <a *ngIf="logado" routerLink="/login">Entrar</a>
      <a *ngIf="!logado" role="button" (click)="sair()">Sair</a>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
