<main>
  <p-tabView>
    <p-card>
      <form #editFilmeForm="ngForm">
        <span class="p-float-label">
          Titulo <br>
          <input type="text" pInputText name="titulo" [value]="filme.titulo" ngModel>
        </span><br>

        <span class="p-float-label">
          Data Lançamento <br>
          <input type="date" pInputText [value]="filme.data_lancamento" name="data_lancamento" ngModel>
        </span><br>

        <span class="p-float-label">
          Sinopse <br>
          <input type="text" pInputText name="sinopse" [value]="filme.sinopse" ngModel>
        </span><br>

        Genero <br>
        <p-dropdown [options]="generos" optionValue="codigo" optionLabel="descricao" name="genero" placeholder="{{filme.show_genero}}" ngModel></p-dropdown><br>
        <br>

        Produzido em <br>
        <p-dropdown [options]="paises" optionValue="codigo" optionLabel="pais" name="origem_uf" placeholder="{{filme.show_pais}}" ngModel></p-dropdown><br>
        <br>
        <br>

        <div class="adicionar-botao">
          <p-button label="Salvar" (onClick)="atualizar(editFilmeForm, filme)" icon="pi pi-check"></p-button>
        </div>
        <br>

        <!--Botão para excluir Filme-->
        <div>
          <p-button class="btn-excluir" label="Excluir" (onClick)="excluir(filme)" icon="pi pi-times"></p-button>
        </div>
      </form>
    </p-card>
  </p-tabView>
</main>
