<main>
  <p-tabView>
    <h1>Faça Login</h1>
    <br>
    <br>

    <p-card>
      <span class="p-float-label">
        <input name="email" type="text" placeholder="Login" [(ngModel)]="login.email" pInputText>
      </span><br>

      <span class="p-float-label">
        <input name="senha" type="text" placeholder="Senha" [(ngModel)]="login.senha" pInputText>
      </span><br>

      <p-button label="Realizar Login" (onClick)="realizarLogin()"></p-button>
      <br>
      <br>
      <p-button label="Cadastrar-se" (onClick)="cadastrarUsuario()"></p-button>
     <!-- <form #formLogin="ngForm" (ngSubmit)="realizarLogin(formLogin)">
        <span class="p-float-label">
          <input name="email" type="text" placeholder="Login" pInputText ngModel>
        </span><br>

        <span class="p-float-label">
          <input name="senha" type="text" placeholder="Senha" pInputText ngModel>
        </span><br>

        <p-button label="Realizar Login" type="submit"></p-button>
      </form>Close Form-->
    </p-card>

    <br>
    <br>
  </p-tabView>
</main>
