<main style="background-color: #1e1e1e;">
  <p-tabView>
      <p-card>
        <h2>{{filme.titulo}}</h2>
        <br>
        <div>Lançado em: {{filme.data_lancamento}}</div>
        <br>
        <div>Produzido em: {{filme.show_pais}}</div>
        <br>
        <div>Gênero: {{filme.show_genero}}</div>
        <br>
        <div>Sinopse: {{filme.sinopse}}</div>
        <br>
        <iframe width="560" height="315" [src]="filme.trailer | youtube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <h4>Comentários:</h4>
        <div class="COMENTARIOS" *ngFor="let comment of comments">
          <p-card>
            {{comment.nome_usuario_lan}}
            <br>
            {{comment.texto}}
          </p-card>
          <br>
        </div><!--Close Let Comentarios-->
        <br>
        <div>Compartilhe sua experiencia também!</div>
        <textarea [rows]="5" [cols]="100" placeholder="Digite algo..." [(ngModel)]="comentario" pInputTextarea></textarea>
        <br>
        <div class="adicionar-botao">
          <p-button type="button" label="Publicar" (click)="showDialog(comentario)" icon="pi pi-check"></p-button>
        </div>

        <p-dialog [(visible)]="display">
          <div>
            {{msgDisplay}}
            <br>
            <br>
            <p-button label="{{confirm}}" (click)="publicarComentario(comentario)" icon="pi pi-check"></p-button>
          </div>
        </p-dialog>

      </p-card>
  </p-tabView>
</main>
