
<main>
  <p-tabView>

    <!-- <p-dataView #dv [value]="filmes" filterBy="titulo" layout="grid" [paginator]="true" [rows]="4">
      <ng-template pTemplate="header">
        <input type="search" pInputText placeholder="Procurar por nome" (input)="dv.filter($event.target.value)">
      </ng-template> -->

    <p-dataView #dv [value]="filmes" filterBy="{{filterBy}}" layout="grid" [paginator]="true" [rows]="4">
      <ng-template class="theader" pTemplate="header">
        <div class="container">
          <input class= "inputFiltro" type="search" pInputText placeholder="{{msgFiltro}}" (input)="dv.filter($event.target.value)">
          <br><br>
          FILTRAR POR:
          <p-selectButton [options]="opcoes" optionLabel="rotulo" optionValue="valor"
            (onChange)="filtrar()" [(ngModel)]="filtro" ></p-selectButton>
        </div>
      </ng-template>

      <ng-template let-filme pTemplate="gridItem">
        <p-card header="{{filme.titulo}}">
          <div class="container">
            <div class="row">
              <div class="col-5">
                Sinopse:
                <p-scrollPanel [style]="{width: '400px', height: '200px'}">
                  <p>{{filme.sinopse}}</p>
                </p-scrollPanel>
              </div>

              <div class="col" [style]="{width: '400px', height: '200px'}">
                Data de Lançamento:
                <p>{{filme.data_lancamento}}</p>
                Genero:
                <p>{{filme.show_genero}}</p>
                Produzido em:
                <p>{{filme.show_pais}}</p>
              </div>
              <div class="col">
                <img src="{{filme.imagem}}" alt=""style="width:200px">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <p-button label="Ver Detalhes" icon="pi pi-search" (click)="verDetalheFilme(filme.id_filme)"></p-button><br>
                <br>
                <p-button *ngIf="admGeral" label="Editar Filme" icon="pi pi-pencil" (click)="editarFilme(filme.id_filme)"></p-button><br>
              </div>
            </div>

          </div>
        </p-card>
        <br>
        <br>
      </ng-template>

      <ng-template pTemplate="footer">

      </ng-template>
    </p-dataView>
  </p-tabView>
</main>
