
<main>
  <p-tabView>
    <!--EXIBIÇÃO DE FILMES-->
    <p-tabPanel header="Movie's View">
      <div class="FILMES" *ngFor="let filme of filmes">
        <p-card header="{{filme.titulo}}">
          <!--<img [src]="'assets/img/velozes_e_furiosos.jpg'" style="width:300px; height: 500px;" alt="image">-->
          <div class="info-filmes">
            <span> {{filme.data_lancamento}} </span><br>
            <span> {{filme.pais_origem}} </span><br>
            <span> {{filme.show_genero}} </span><br>
            <span> {{filme.sinopse}} </span><br>
            <!--Arrumar Imagem por filme-->
            <!--<img style="height:200px; width:150px;" [src]="'assets/img/velozes_e_furiosos.jpg'">-->
          </div>
          <br>
          <div class="adicionar-botao">
            <p-button label="Ver Detalhes" icon="pi pi-check"></p-button>
          </div>
          <br>
          <!--Botão para excluir Filme-->
          <ng-template pTemplate="footer">
            <p-button class="btn-excluir" (onClick)="excluir(filme)" icon="pi pi-times"></p-button>
          </ng-template>
        </p-card>
      </div><!--Close Let Filmes-->
    </p-tabPanel><!--Close Movie's View-->


    <p-tabPanel header="Movies Editor">
      <div class="EDIT-FILMES" *ngFor="let filme of filmes">
        <p-card>
          <form #editFilmeForm="ngForm">
            <span class="p-float-label">
              <input type="text" pInputText name="titulo" placeholder="{{filme.titulo}}" ngModel>
            </span><br>

            <span class="p-float-label">
              <input type="date" pInputText name="data_lancamento" placeholder="{{filme.data_lancamento}}" ngModel>
            </span><br>

            <span class="p-float-label">
              <input type="text" pInputText name="sinopse" placeholder="{{filme.sinopse}}" ngModel>
            </span><br>


            <p-dropdown [options]="generos" optionValue="codigo" optionLabel="descricao" name="genero" placeholder="{{filme.show_genero}}" ngModel></p-dropdown><br>
            <br>

            <p-dropdown [options]="paises" optionValue="codigo" optionLabel="pais" name="origem_uf" placeholder="{{filme.pais_origem}}" ngModel></p-dropdown><br>
            <br>
            <br>

            <div class="adicionar-botao">
              <p-button label="Adicionar" (onClick)="atualizar(editFilmeForm, filme)" icon="pi pi-check"></p-button>
            </div>
          </form><!--Close Form-->
          <br>
        </p-card>
        <br>
      </div><!--Close Let Filmes-->
    </p-tabPanel><!--Close Movies Editor-->

    <br>
    <br>
  </p-tabView>
</main>
